<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> 

		 </title>
	
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>

		<div class="menu">
			<h3><a href="/">БЛОГ</a></h3>
			<nav>
				{% if user.is_authenticated %}
					<a href="/create">Написать статью</a>
					<a href="/exit">Выход</a>
				{% else %}
					<a href="/login" id="login">Логин</a>
					<a href="/registration" id="registration">Регистрация</a>
				{% endif %}
			</nav>
		</div>

		{% block data %}
		{% endblock %}

	</body>
</html>