{% extends "blog/header.html" %}

{% block data %}
      <header>
         <h1>Django Public Blog</h1>
         <nav><a href="/">Все статьи</a></nav>
      </header>
      <div class="post">
         <h1>{{post.title}}</h1>
         <div class="post-about">
            <div>{{post.author}}</div>
            <div>{{post.create}}</div>
         </div>
         <div class="post-text">
            {{post.text}}
         </div>
      </div>
      <style>
         header {
            display: flex;
            justify-content: flex-start;
            align-items: center;

         }
         header h1 {
            display: block;
         }
         header nav {
            flex-grow: 1;
            text-align: right;
         }

         header nav a {
            font-weight: bold;
         }
      </style>
{% endblock %}